name: build-push-deploy

on:
  push:
    branches:
      - "main"
      - "develop"

jobs:
  build-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: philippzagar/tum4health_cms:latest
          cache-from: type=registry,ref=philippzagar/tum4health_cms:buildcache
          cache-to: type=registry,ref=philippzagar/tum4health_cms:buildcache,mode=max

  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Copy files
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          source: "docker-compose.deploy.yml,.env"
          target: "/home/ubuntu/tum4health-cms/"
      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.DOCKER_SSH_PRIVATE_KEY }}
          port: ${{ secrets.PORT }}
          script: |
            cd tum4health-cms
            docker-compose -f docker-compose.deploy.yml down
            docker system prune --force
            docker-compose pull
            docker-compose -f docker-compose.deploy.yml up -d
    needs: build-push
